.home {
  position: relative;
  padding: 258px 0 0;
  background: black url('../images/HomeBackground.png') center/cover no-repeat;
  &__block {
    background: url('../images/HomeBlockBackground.png') left bottom/contain
      no-repeat;
    display: flex;
    -moz-column-gap: 94px;
    column-gap: 94px;
    align-items: center;
    justify-content: center;
    &-color {
      position: absolute;
      left: 0;
      z-index: 1;
      & circle {
        cursor: pointer;
      }
    }
  }
  &__title {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.16em;
    color: #ffffff;
  }
  &__info {
    width: 492px;
  }
  &__img {
    position: relative;
    max-width: 50%;
    &-rotate {
      position: absolute;
      bottom: -65px;
      left: 50%;
      transform: translateX(-45%);
      cursor: -webkit-grab;
      cursor: grab;
    }
  }
  &__details {
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
  }
  &__btn {
    font-size: 12px;
    padding: 6px 16px;
    border: 1px solid #ffffff;
    border-radius: 36px;
    background: transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  &__price {
    font-size: 36px;
    color: #ffffff;
  }
  &__details-right {
    display: flex;
    align-items: center;
    -moz-column-gap: 45px;
    column-gap: 45px;
  }
  &__size {
    font-size: 16px;
    margin-right: 19px;
    color: #ffffff;
  }
  &__size-select {
    background: transparent;
    border: none;
    outline: none;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    & option {
      color: #000;
      font-size: 28px;
      line-height: 33px;
    }
  }

  &__swiper {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
  }
  &__arrows {
    display: flex;
    -moz-column-gap: 44px;
    column-gap: 44px;
    align-items: center;
  }
  &__arrow {
    display: flex;
    -moz-column-gap: 20px;
    column-gap: 20px;
    align-items: center;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
  }
  &__row {
    width: 940px;
  }
  &__card {
    border: 2px solid #ffffff;
    padding: 134px 0 61px 32px;
    position: relative;
  }
  &__card-img {
    position: absolute;
    left: 15px;
    bottom: 101px;
    width: 210px;
  }
  &__card-title {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__arrow {
    color: white;
  }
}
