@import url('https://fonts.cdnfonts.com/css/futura-lt-bt');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Futura Bk BT', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: black;
  overflow-x: hidden;
}
img {
  width: 100%;
}

@import '_header';
@import '_home';
@import '_essence';
@import '_bestsellers';
@import '_sports-time';
@import "weare";
@import "join";